* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    width: 100%;
    height: auto;
   background-color: rgb(193, 193, 193);
}

/*header*/

.screen .header {
    width: 100%;
    height: 100px;
    padding: 0 0 20px 0;
}
.screen .header .left {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 10px 0 0 0;
}
.screen .header .right {
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px 45px 0 0;
}
.header .left .card {
    color: rgb(1, 1, 90);
    font-size: 20px;
    padding-top: 13px;
    width: 22%;
    height: 75%;
    float: left;
}
.header .left .card:hover{
    color: white;
}
.header .left .cardd{
    border: 0 solid rgb(193, 193, 193);
    background-color:rgb(193, 193, 193);
    color: rgb(1, 1, 90);
    width: 22%;
    height: auto;
    border-radius: 70px;
    float: left;
    padding:10px;
    margin-top: 5px;
    font-weight: bold ;
    font-size: 18px;
    
}
.header .left .cardd:hover{
    background-color: rgb(1, 1, 90);
    color: white;
}
.header .right {
    width: 98%;
    height: 100%;
}
.header .right img{
    float: right;
    max-width: 100%;    
    height: 100;
}
.header .right h{
    color: rgb(1, 1, 90)  ;
    font-size: 50px;
    font-weight: bold;
    float: right;
    margin: 0 5px 0 0 ;
    width: auto;
    height: 100%;
}
.header .right input[type=text] {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 90) ;
    float: right;
    padding: 6px;
    margin: 13px 45px 0 0;
    border: none;
    border-radius: 20px;
    font-size: 17px;  
  }
  

/*posts*/

.screen .posts {
    width: 100%;
    height: 270px;
    padding: 0 0 20px 0;
}
.screen .posts .left {
    width: 40%;
    float: left;
    height: 100%;
}
.screen .posts .right {
    float: right;
    width: 60%;
    height: 95%;
    
}
.posts .right .card {
    width: 98%;
    height: 100%;
    float: left;
    margin-left: 3px;
}
.posts .right .card img{
    width: 75%;
    height: 100% ;
    float: right;
    margin-right: 90px;
}
.posts .left .card {
    width: 95%;
    height: 19%;
    margin-left: 15px;
    float: left;
}
.posts .left .card a{
    color:  rgb(1, 1, 90)  ;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 35px;
}
.posts .left .card2 {
    width: 95%;
    margin: 20px 0 0 15px;
    padding-left: 35px;
    height: 46%;
    float: left;
}
.posts .left .card2 a{
    font-size: 18px;
}
.posts .left .card3 {
    border: 0 solid black;
    border-radius: 4px;
    background: rgb(35,35,35);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(1,1,90,1) 49%, rgba(35,35,35,1) 100%);
    width: 100%;
    height: 19%;
    margin: 8px 0 0 50px;
    float: left;
}
.posts .left .card3 img{
    width: auto;
    height: 95%;
    margin-left: 75px;
    float: left;
    margin-left: 100px;
}
.posts .left .card3 img:hover{
    background-color:gray ;
}


/* posts2 */
 
.screen .posts2 {
    width: 100%;
    height: 5400px;
}
.screen .posts2 .left {
    width: 60%;
    float: left;
    height: 100%;
}
.screen .posts2 .right {
    float: right;
    width: 40%;
    height: 100%;
}
.posts2 .left .card {
    border: 2px solid black;
    width: 96%;
    margin: 0 0 20px 15px ;
    height: 250px;
    float: left;
}
.posts2 .left .card .games{
    height: auto;
    width: 29%;
    float: left;
    margin-left: 35px;
}
.posts2 .left .card .games img{
    width: 100%;
    height: auto;
}
.posts2 .left .card .games img:hover{
    border: 1px solid rgb(193, 193, 193) ;
}
.posts2 .left .card {
    border: 2px solid black;
    width: 96%;
    margin: 0 0 20px 15px ;
    height: 250px;
}
.posts2 .left .card .ad img{
    width: 50%;
    height: 100%;
    margin-left: 35px;
    float: left;
}
.posts2 .left .card .img2 img{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 20px;
} 
.posts2 .left .card a{
    font-weight: bold;
    font-size: 29px;
    margin-left: 130px;
    color: rgb(1, 1, 90);
}
.posts2 .left .card a:hover{
    color: white;
}
.posts2 .left .card .up{
    width: 96%;
    height: 20%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(1, 1, 90) 99%);
    color: rgb(193, 193, 193);
    font-size: 19px;
    margin: 0 0 10px 35px;
    padding: 10px 20px;
}
.posts2 .left .card .bottom{
    width: 96%;
    height: 190px;
    background-color: rgb(0, 0, 79);
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 35px;
}
.posts2 .left .card .bottom .img3 img{
    width: 20%;
    height: 100%;
    float: left;
    margin: 15px 0 0 30px ;
}
.posts2 .left .card .bottom .img3 img:hover{
    border: 1px solid rgb(193, 193, 193) ;
}
.posts2 .left .card .logo img{
    width: 30%;
    height: 25%;
    float: left;
    margin-left: 35px;
}
.posts2 .left .card .text3{
    float: right;
    font-size: 17px;
    margin: 59px 20px;
    color: rgb(17, 0, 255);
}
.posts2 .left .card video{
    margin-left: 35px;
    width:400px;
    height: 100%;
}

.posts2 .right .card {
    width: 60%;
    height: 400px;
    float: left;
}
.posts2 .left .card{
    color: rgb(1, 1, 90) ;
    font-weight: bold;
}
.posts2 .left .card input[type=text] {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 90) ;
    margin: 13px 45px 0 10px;
    border: none;
    border-radius: 20px;
    font-size: 17px;  
  }
.posts2 .right .card .text{
    color: rgb(193, 193, 193);
    border: 0 solid black;
    border-radius: 4px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(1, 1, 90) 99%);
    width: 100%;
    height: 13%;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.posts2 .right .card img{
    margin-top: 20px;
    width: 100%;
    height: 82%;
}
.posts2 .right .card2 {
    width: 35%;
    height: 400px;
    margin: 0 0 20px 15px ;
    float: left;
}
.posts2 .right .card2 .text{
    color:  rgb(193, 193, 193);
    border: 0 solid black;
    border-radius: 4px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,158,1) 99%);
    width: 100%;
    height: 18%;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.posts2 .right .card2 .text .text2{
    color:  rgb(135, 134, 134);
    font-size: 15px;
    text-decoration: line-through;
}
.posts2 .right .card2 button{
    background-color:rgba(0,255,255,1) ;
    width: 35%;
    height: auto;
    border: none;
}
.posts2 .right .card2 button:hover{
    background-color:rgb(0,0,0) ;
    color: rgb(193, 193, 193);
}
.posts2 .right .card2 .comments button{
    background-color: gray;
    font-weight: bold;
    margin: 10px 0 10px 0;
    width: 100%;
    height: 60px;
    border: 1px solid black;
}
.posts2 .right .card2 .recentcm{
    padding: 10px;
    width: 100%;
    height: 62%;
    background-color: gainsboro;
    color: gray;
}