* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    width: 100%;
    height: auto;
    background: rgb(124,124,124);
    background: linear-gradient(90deg, rgba(124,124,124,1) 0%, rgba(73,73,73,1) 25%, rgba(124,124,124,1) 51%, rgba(73,73,73,1) 79%, rgba(124,124,124,1) 100%);
}

/*header*/

.screen .header {
    width: 100%;
    height: 100px;
    padding: 0 0 20px 0;
}
.screen .header .left {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 10px 0 0 0;
}
.screen .header .right {
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px 45px 0 0;
}
.header .left .card {
    color: rgb(1, 1, 90);
    font-size: 20px;
    padding-top: 13px;
    width: 22%;
    height: 75%;
    float: left;
}
.header .left .card:hover{
    color: white;
}
.header .left .cardd{
    border: 0 solid rgb(193, 193, 193);
    background-color:rgb(193, 193, 193);
    color: rgb(1, 1, 90);
    width: 22%;
    height: auto;
    border-radius: 70px;
    float: left;
    padding:10px;
    margin-top: 5px;
    font-weight: bold ;
    font-size: 18px;
    
}
.header .left .cardd:hover{
    background-color: rgb(1, 1, 90);
    color: white;
}
.header .right {
    width: 98%;
    height: 100%;
}
.header .right img{
    float: right;
    max-width: 100%;    
    height: 100;
}
.header .right h{
    color: rgb(1, 1, 90)  ;
    font-size: 50px;
    font-weight: bold;
    float: right;
    margin: 0 5px 0 0 ;
    width: auto;
    height: 100%;
}
.header .right input[type=text] {
    background-color: rgb(193, 193, 193);
    color: rgb(1, 1, 90) ;
    float: right;
    padding: 6px;
    margin: 13px 45px 0 0;
    border: none;
    border-radius: 20px;
    font-size: 17px;  
  }
  

/*posts*/

.screen .posts {
    width: 100%;
    height: 270px;
    padding: 0 0 20px 0;
}
.screen .posts .left {
    width: 40%;
    float: left;
    height: 100%;
}
.screen .posts .right {
    float: right;
    width: 60%;
    height: 95%;
    
}
.posts .right .card {
    width: 98%;
    height: 100%;
    float: left;
    margin-left: 3px;
}
.posts .right .card img{
    width: 75%;
    height: 100% ;
    float: right;
    margin-right: 90px;
}
.posts .left .card {
    width: 95%;
    height: 19%;
    margin-left: 15px;
    float: left;
}
.posts .left .card a{
    color:  rgb(1, 1, 90)  ;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 35px;
}
.posts .left .card2 {
    width: 95%;
    margin: 20px 0 0 15px;
    padding-left: 35px;
    height: 46%;
    float: left;
}
.posts .left .card2 a{
    font-size: 18px;
}
.posts .left .card3 {
    border: 0 solid black;
    border-radius: 4px;
    background: rgb(35,35,35);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(1,1,90,1) 49%, rgba(35,35,35,1) 100%);
    width: 100%;
    height: 19%;
    margin: 8px 0 0 50px;
    float: left;
}
.posts .left .card3 img{
    width: auto;
    height: 95%;
    margin-left: 75px;
    float: left;
    margin-left: 100px;
}
.posts .left .card3 img:hover{
    background-color:gray ;
}

.screen .posts2 {
    width: 100%;
    height: 5400px;
}
.screen .posts2 .left {
    width: 60%;
    float: left;
    height: 100%;
}
.screen .posts2 .right {
    float: right;
    width: 40%;
    height: 100%;
}
.posts2 .left .card {
    border: 2px solid black;
    width: 96%;
    margin: 0 0 20px 15px ;
    height: 250px;
    float: left;
}
.posts2 .right .card {
    border: 2px solid black;
    width: 60%;
    height: 400px;
    float: left;
}
.posts2 .right .card2 {
    border: 2px solid black;
    width: 35%;
    height: 400px;
    margin: 0 0 20px 15px ;
    float: left;
}